body{
    margin: 0;
    padding: 0;
	background-color: #1e90ff;
	font-family: sans-serif;
}
.titulos{
    color: crimson;
    text-align: center;
}
.item{
	height: 100px;
	padding: 5px;
    margin: 5px;
    background-color: aliceblue;
    text-align: left;
    font-size: 20px;
    border-radius: 10px;
}

.coluna{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
    
}
.linha{
    grid-template-rows: 100px;
}

section{
	
    width: 1000px;
    margin: 0 auto;
}
.section-container {
    margin-top: 100px;
    
}
.Teste{
    margin-left: 200px;
}
.img{
	width:  90px;
	height: 90px:
}
.enem{
display: flex;}