@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin:0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #1E90FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color:aliceblue;
}

.left-login-image{
    width: 30vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color:aliceblue;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #3251f9;
}

.card-login > h1 {
    color: #1E90FF;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100% ;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #82c1ff;
    color:#3251f9;
    font-size: 12pt;
    box-shadow: 0px 10px 20px #3251f9;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color:#3251f9;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #3370ad;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border:none;
    border-radius: 8px;
    outline:none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #3251f9;
    background-color: #1E90FF;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px hsl(231, 89%, 32%);
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media only screen and (max-width:950px){
    .card-login{
        width: 85%;
    }
}

.btn-login:hover {
    background-color: #0447ff; /* Cor alterada ao passar o mouse */
    color: #4ea2f5; /* Cor do texto alterada ao passar o mouse */
}

@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height:auto;
    }
    .right-login{
        width: 100%;
        height:auto;
    }
    .left-login-image{
        width:50vw;
        margin-bottom: 10px;
    }
    .card-login{
        width: 90%;
    }
}