section {
    background-image: url('../IMG/background.png');
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0 100px 0;
}

.form-container {
    /* background: #252525; */
    padding: 20px;
    border-radius: 10px;
}

input {
    background: #181818;
    border: 1.5px solid #787878;
    color: #989898;
    outline: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 1em;
    width: 100%;
    height: 60px;
    transition: 0.3s;
    font-family: 'Space Mono';
}

input:focus {
    border: 1.5px solid #E1E1E1;
}

input[type=text] {
    color: #E1E1E1;
}

input[type=password] {
    color: #E1E1E1;
}

input[type=submit] {
    cursor: pointer;
    background: #FBD100;
    color: black;
}

input[type=submit]:hover {
    background: #FFE143;
}

p {
    font-family: 'Space Mono';
    font-size: 0.8rem;
}

p a {
    font-family: 'Space Mono';
    text-decoration: underline;
}

#d input{
    width: 80%;
}