table{
    margin-top: 3%;
}

table, th, td{
    border: 3px solid #000000;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed';
    padding: 16px;
    border-radius: 9px;

}

table{
    
    background: #01a2ff;
    }
tr{
    background: #b6c7ff;
}

tr:nth-child(even){
    background: #b0dcff;
}

body{
    margin-left: 0px;

}

#container{
    height: auto;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 10px 10px #3251f9;
}

.form-container {
    /* background: #252525; */
    padding: 20px;
    border-radius: 50px;
}

input {
    background: rgba(214, 214, 214, 0.842);
    border: 1.5px solid #4e4e4e;
    box-shadow: 30px #504f4f;
    color: #000000;
    outline: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 1em;
    text-align: center;
    transition: 0.3s;
    font-family: 'Space Mono';
}

input:focus {
    border: 1.5px solid #000000;
}

input[type=text] {
    color: #0c0a0a;
}

input[type=password] {
    color: #E1E1E1;
}

input[type=submit] {
    cursor: pointer;
    background: #61a0ff;
    color: rgb(51, 22, 22);
}

input[type=submit]:hover {
    background: #2a6d99;
}